/classes/__pycache__
./classes/DataPipeline.py
/node_modules
/public
/runs
/src
*.json
*.sh
classes/.DS_Store
full_df.csv
.venv
.DS_Store
cpptesting/rapidcsvtest.cpp
.gitignore
cpptesting/include/rapidcsv.h
cpptesting/src/rapidcsvtest.o
cpptesting/weathertestset.csv
cpptesting/testfile
cpptesting/sample_dataset.csv
cpptesting/Makefile
cpptesting/src/rapidcsvtest.cpp
classes/MarketEnvCpp/setup.py
classes/MarketEnvCpp/MarketEnvCpp.egg-info/dependency_links.txt
classes/MarketEnvCpp/MarketEnvCpp.egg-info/not-zip-safe
classes/MarketEnvCpp/MarketEnvCpp.egg-info/PKG-INFO
classes/MarketEnvCpp/MarketEnvCpp.egg-info/SOURCES.txt
classes/MarketEnvCpp/MarketEnvCpp.egg-info/top_level.txt
classes/MarketEnvCpp/build/temp.macosx-15.0-arm64-cpython-311/MarketEnvCpp.o
classes/MarketEnvCpp/build/lib.macosx-15.0-arm64-cpython-311/MarketEnvCpp.cpython-311-darwin.so
classes/MarketEnvCpp/MarketEnvCpp.cpython-311-darwin.so
classes/sample_dataset.csv
classes/weathertestset.csv
classes/test.py
classes/MarketEnvCpp/include/rapidcsv.h
/cpptesting
/build
sig.png
/tests
